/* 
    Created on : 15-jun-2017, 23:37:47
    Author     : Francisco López <francisco.lopez@ongo.es>
*/

/**
 * Common styles
 */
body {
	padding-bottom: 100px;
}

.banner {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 351px;
	margin: 10px 0;
}

.footer {
	background-color: #002b6e;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	max-height: 100px;
	width: 100%;
}

.content {
	padding: 20px 0;
}

.header {
	padding: 20px 0;
}

/* Menu */
.menu-container {
	padding: 10px 15px;
	background-color: #5d5c5b;
	min-height: 30px;
}

.menu-container > .menu-item {
	display: inline-block;
	color: #fff;
	margin: 0 60px;
}

.menu-container > .menu-item:first-child {
	margin-left: 0;
}

.menu-container > .menu-item:last-child {
	margin-right: 0;
}

.menu-container > .menu-item > a {
	color: #fff;
	text-decoration: none;
}

/* Section */
.section {
	margin: 20px 0 10px;
}

.section:first-child {
	margin-top: 0;
}

.section > .section-body {
	background-color: #eee;
	padding: 15px;
	min-height: 340px;
}

.section > .section-title {
	font-weight: bold;
	font-size: 18px;
	padding: 5px 0;
	height: 35px;
}

/* Course */
.course-item {
	padding: 25px;
}

.course-item > .course-image {
	text-align: center;
	margin-bottom: 25px;
}

.course-item > .course-image > img {
	transition: transform 0.5s;
	cursor: pointer;
}

.course-item > .course-image > img:hover {
	transform: scale(1.2, 1.2);
	transition: transform 0.1s linear;
}

.course-item > .course-name {
	font-weight: bold;
	font-size: 16px;
	color: #354245;
	margin: 15px 0;
	white-space: nowrap;
}

.course-item > .course-description {
	font-size: 10px;
	color: #354245;
	text-align: justify;
}

/* Sidebar */
.sidebar {
	margin-top: 35px;
}

.sidebar-item {
	margin: 6px 0;
}

/* Messages */
.messages {
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 50px;
	left: 0;
	padding: 0 15px;
}

/* Bootstrap amendments */
.container {
	position: relative;
}